<div>
<!--  <h3>hello, Oleg, lets see main tokens list2</h3>-->
  <div [ngClass]="barOpened ? 'ts_token_bar opened' : 'ts_token_bar'" >
    <div class="ts_token_bar_head" (click)="barHeadToggler()">
      <div class="ts_token_bar_icon"></div>
      <div class="ts_token_bar_title">Tokens List</div>
    </div>
    <div class="ts_token_bar_body">
      <div *ngIf="tokens; else noTokens">
        <div *ngFor="let token of tokens | keyvalue" >
          {{token.key}}
        </div>
      </div>
      <ng-template #noTokens>There is no tokens at the moment</ng-template>
    </div>
  </div>


</div>
