body {
  font-family: Arial;
    }
table {
  margin: 25px;
  width: 25%;
  table-layout: auto;
    }
.fixed {
  table-layout: fixed;
    }
table,
td,
th {
  border-collapse: collapse;
    }
th,
td {
  border: solid 0px;
  text-align: left;
    }
form {
  display: flex;
  align-items: center;
    }
input {
  background-color: #FFFFFF;
  border: #D8D8D8 solid 1px;
  border-radius: 6px;
  padding: 0.5em;
  width: 25%;
  height: 30px;
  margin-top: 5px;
  font-size: 1em;
    }
